# Eclipse project files
.classpath
.project
.settings

# Intellij project files
*.iml
*.ipr
*.iws
.idea/
 
#Gradle
.gradletasknamecache
.gradle/
build/
bin/
out/
classes/

# Test code that gets temporarily copied by our Android CI build
src/androidTest/java/com/launchdarkly/sdk/internal/**/*.java
!src/androidTest/java/com/launchdarkly/sdk/internal/BaseTest.java
